<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>pdf</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            height: 100%;
        }

        object {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<script th:inline="text">
    function loadPdf(filePath) {
        let object = document.createElement('object');
        object.data = filePath;
        document.body.appendChild(object);
    }
    loadPdf('http://localhost:8080/file/[[${fileName}]]');
</script>
</body>
</html>